html,
body {
    height: 100%;
    width: 100%;
}

#instafeed-container {
    position: absolute;
    border-radius: 8px;
    height: 25%;
    width: 25%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 0 80px -10px black;
    overflow: hidden;
}
